.portfolio__container{
    grid-template-columns: repeat(3, 1fr);
}
.portfolio__item {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio__img {
    height: 250px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}
.portfolio__hover{
    background-color: var(--first-color);
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}
.portfolio__item:hover .portfolio__hover{
    opacity: 1;
}
.portfolio__title{
    color: var(--text-white);
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    transform: translateY(-20px);
    transition: all 0.5s ease;
}
.portfolio__item:hover .portfolio__title{
    transform: translateY(0);
}


.portfolio__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: 100;
    display: grid;
    place-items: center;
    padding: 15px;
}
.portfolio__modal-content{
    background-color: var(--container-color);
    max-width: 650px;
    width: 100%;
    padding: 32px;
    border-radius: 10px;
    position: relative;
}
.modal__img{
    width: 100%;
    height: 350px;
    object-fit: cover;

}

.modal__close{
    position: absolute;
    top: -3.5%;
    right: -8.5%;
    height: 50px;
    filter: invert(0.8);
    width: 50px;

}
.modal__title{
    text-align: center;
    color: var(--first-color);
    font-size: var(--h2-font-size);
    letter-spacing: 2px;
    margin-bottom: 24px;
}
.modal__list{
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    margin-bottom: 24px;
}
.modal__item{
    display: flex;
    align-items: center;
    object-fit: cover;
}
.item__icon{
    display: flex;
    margin-right: 10px;

}
.item__title,
.item__details{
    color: var(--title-color);
    font-size: var(--small-font-size);
}

@media (max-width: 768px){

    .portfolio__container {
        grid-template-columns: repeat(1, 1fr); /* Display one card per row on all screen sizes */
    }
    
    .portfolio__item {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        cursor: pointer;
        width: 100%; /* Card takes full width */
        margin-bottom: 20px; /* Add spacing between cards */
        
    }

    .portfolio__modal{
        position: fixed;
        display: grid;
        place-items: center;
        z-index: 100;
     
    }
    .portfolio__modal-content {
        padding: 20px; /* Adjust padding for smaller screens */
        position: fixed;
        width: 95%;
    }
    .item__title,
    .item__details{
    color: var(--title-color);
    font-size: var(--small-font-size);
    margin-left: -10px;
    
}
.modal__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.modal__close{
    position: absolute;
    top: -5.5%;
    right: -5.5%;
    height: 35px;
    filter: invert(0.8);
    width: 50px;

}
    
}